*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.avoidstress{
    position: absolute;
    left: -110px;
    top:60px;
    width: 500px;
    height: 50px;
    text-align: center;
    font-weight: 300;
}
.f1{
    position: absolute;
    top:0%;
    width: 100%;
    height: 13%;
    background-color: rgba(255, 255, 255, 0.8);
    }
.f2{
    position:absolute;
top:100px;
left:300px;
    text-align: justify;
    background-image: url("./Images/fondo1.png");
    width: 730px;
    height:500px;
    font-size:xx-large;
}
.f3{
    position: absolute;
    top: 900px;
    left: 300px;
}
.f4{
    position: absolute;
    top: 1600px;
    left: 850px;
}
.f5{
    position: absolute;
    top: 2280px;
    left: 300px;
}
.f6{
    font-size:x-large;
    color:rgb(50, 50, 202);
    font-weight:bold;
    position: absolute;
    left: 110px;
    top:13px;   
}

.f7{
    position:absolute;
    left:1000px;
    top:1830px;
    font-size: small;
    font-weight: bold;
}

.titulo{
    position:relative;
    top: 0px;
    left: 300px;
    font-size:x-large;
    color:rgb(50, 50, 202);
    font-weight:bold;
}
.h1{
    color:rgba(56, 56, 56, 0.6);
position:absolute;
top:15px;
left:40%;
    font-weight:bolder;

}
.h2{
    color: rgba(56, 56, 56, 0.6);
position:absolute;
top:15px;
left:48%;
    font-weight:bolder;
}
.h3{
    color:rgba(56, 56, 56, 0.6);
position:absolute;
top:15px;
left:55%;
font-weight:bolder;
}
.h4{
    color:rgba(56, 56, 56, 0.6);
position:absolute;
top:15px;
left:60%;
    font-weight:bolder;
}
.boton{
    position:absolute;
    top:30px;
    left: 1050px;
    background-color:rgba(55, 55, 202,0.9) ;
    border-radius: 3px;
    font-weight:500;
    color:white;
    border:none;
    width: 110px;
    height: 30px;
}
h1{
    position: relative;
    top:140px;
    left: 110px;
    width: 250px;
    height: 180px;
    color:navy;
    font-weight: bolder;
    font-size: xx-large;
    text-align: justify;
}
h2{
    position: relative;
    top:40px;
    left: 110px;
    width: 400px;
    color:navy;
    font-weight: bolder;
    font-size: x-large;
}
h3{
    color:navy;

}

p{
    text-align: justify;
    position: relative;
    top:40px;
    left: 110px;
    width: 320px;
    height: 200px;
    color:rgba(56, 56, 56, 0.6);
    font-weight:bolder;
    font-size: small;
}

.foto1{
    position:relative;
    left:900px;
}
.fondo{
    width: 50px;
    height:50px;

}
.tabla2{
    position: absolute;
    top:86%;
    left:28%;
    width:47%;
    height: 13%;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.9);
    color:rgba(56, 56, 56, 0.6);
    font-weight:bolder;
    font-size: x-small;
}
.foto2{
    position:relative;
    left:15%;
}
.foto4{
    position:absolute;
    top:1500px;
    left: 380px;
}
.foto5{
    position:absolute;
    top:2200px;
    left: 900px;
}
.boton2{
    width: 110px;
    height: 30px;
    position:absolute;
    top:20px;
    left: 500px;
    background-color:rgba(55, 55, 202,0.9) ;
    border-radius: 3px;
    font-weight:500;
    color:white;
    border:none;
}

.schedule{
    position:absolute;
top:550px;
left:420px;
font-weight: bold;
color:navy;
}

.tabla3{
    height:200px ;
    width: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    transform: translateX(400px)
    translateY(280px);
}
.foto3{
    position: relative;
    left:380px;
    top:260px;
}

.foto6{
    position: absolute;
    top:1830px;
    left:950px;
}
.cuadro1, .cuadro2, .cuadro3, .cuadro4{
    background-color: rgba(255, 255, 255, 0.9);
    width: 170px;
    height: 200px;
    font-size: smaller;
    color: rgba(56, 56, 56, 0.6) ;
    margin-right: 50px;
    font-size: small;
    font-weight: bold;
}
.fondoabajo{
    background-color: rgba(119, 119, 190, 0.1);
    position: absolute;
    top: 3100px;
    left:200px;
    height: 300px;
    width: 90%;
    
}
th{
    color:navy;
    font-weight: bold;
}
.emergency{
    background-color: white;
    width: 500px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top:2540px;
    left:370px;
}
.call{
    background-color: rgba(255, 255, 255, 0.9);
    width: 100px;
    height: 150px;
    margin: 10px;
    margin-left: 100px;
    color:rgba(56, 56, 56, 0.6);
    font-weight: bold;
    font-size: small;
    position: relative;
    left: 40px;
}
.boton3{
    position:relative;
    top: 30px;
    left: -40px;
    color:rgb(50, 50, 202) ;
    font-weight: bold;
    border:none;
    background-color:rgba(119, 119, 190, 0.1) ;
    width: 140px;
    height: 30%;
    border-radius: 4px;
}
.boton4{
    position:relative;
    top: 30px;
    left: -40px;
    background-color:rgb(50, 50, 202) ;
    font-weight: bold;
    border:none;
    color:white ;
    width: 140px;
    height: 30%;
    border-radius: 4px;
}
.tabla5{
    text-align: left;
    position: absolute;
    top:30px;
    left: 700px;
    width: 530px;
    font-weight: bold;
    font-size: small;
    color:rgba(56, 56, 56, 0.6);
}
.terms{
    font-size: x-small;
    font-weight: bold;
    color:rgba(56, 56, 56, 0.6);
    position:absolute;
    top: 3310px;
    left: 300px;
    width: 1600px;

}
.textocuadro{
    position:absolute;
}
